In [20]:
from tabula import read_pdf
import pandas as pd
import seaborn as sns
import re
import matplotlib

In [2]:
def get_emissions_table_from_page_1353():
    """Page 1353 from the PDF document, is 1335 IN the document!"""
    df = read_pdf("/home/martin/Downloads/ipcc_wg3_ar5_full.pdf", pages=1353)[0]
    return df

In [3]:
df = get_emissions_table_from_page_1353()

In [14]:
df

,Options,Direct emissions,Infrastructure & supply\rchain emissions,Biogenic CO2 emissions\rand albedo effect,Methane emissions,Lifecycle emissions\r(incl. albedo effect)
0,NaN,Min / Median / Max,Typical values,Min / Median / Max,NaN,NaN
1,Currently Commercially Available Technologies,NaN,NaN,NaN,NaN,NaN
2,Coal — PC,670 / 760 / 870,9.6,0,47,740 / 820 / 910
3,Gas — Combined Cycle,350 / 370 / 490,1.6,0,91,410 / 490 / 650
4,Biomass — cofiring,n. a. ii,–,–,–,620 / 740 / 890iii
5,Biomass — dedicated,n. a. ii,210,27,0,130 / 230 / 420iv
6,Geothermal,0,45,0,0,6.0 / 38 / 79
7,Hydropower,0,19,0,88,1.0 / 24 / 2200
8,Nuclear,0,18,0,0,3.7 / 12 / 110
9,Concentrated Solar Power,0,29,0,0,8.8 / 27 / 63
10,Solar PV — rooftop,0,42,0,0,26 / 41 / 60
11,Solar PV — utility,0,66,0,0,18 / 48 / 180
12,Wind onshore,0,15,0,0,7.0 / 11 / 56
13,Wind offshore,0,17,0,0,8.0 / 12 / 35
14,Pre-commercial Technologies,NaN,NaN,NaN,NaN,NaN
15,CCS — Coal — Oxyfuel,14 / 76 / 110,17,0,67,100 / 160 / 200
16,CCS — Coal — PC,95 / 120 / 140,28,0,68,190 / 220 / 250
17,CCS — Coal — IGCC,100 / 120 / 150,9.9,0,62,170 / 200 / 230
18,CCS — Gas — Combined Cycle,30 / 57 / 98,8.9,0,110,94 / 170 / 340
19,Ocean,0,17,0,0,5.6 / 17 / 28

In [ ]:
def get_lifecycle_emissions_df(df):
    df_split_lifecycle = df["Lifecycle emissions\r(incl. albedo effect)"].str.extract('(\d+) / (\d+) / (\d+)')
    df_split_lifecycle.columns = ["Min", "Median", "Max"]
    lifecycle_df = pd.concat([df["Options"], df_split], axis=1)
    return lifecycle_df

In [40]:
# Clean Data
# Separate Lifecycle Emissions into Min, Median and Max columns
df_split_lifecycle = df["Lifecycle emissions\r(incl. albedo effect)"].str.extract('(\d+) / (\d+) / (\d+)')
df_split_lifecycle.columns = ["Min", "Median", "Max"]

In [46]:
df_split_lifecycle

    Min Median   Max
0   NaN    NaN   NaN
1   NaN    NaN   NaN
2   740    820   910
3   410    490   650
4   620    740   890
5   130    230   420
6     0     38    79
7     0     24  2200
8     7     12   110
9     8     27    63
10   26     41    60
11   18     48   180
12    0     11    56
13    0     12    35
14  NaN    NaN   NaN
15  100    160   200
16  190    220   250
17  170    200   230
18   94    170   340
19    6     17    28

In [47]:
# Extract Options column with Lifecycle Emissions 3 min,median and max colunms
lifecycle_df = pd.concat([df["Options"], df_split], axis=1)

In [48]:
lifecycle_df

                                          Options  Min Median   Max
0                                             NaN  NaN    NaN   NaN
1   Currently Commercially Available Technologies  NaN    NaN   NaN
2                                       Coal — PC  740    820   910
3                            Gas — Combined Cycle  410    490   650
4                              Biomass — cofiring  620    740   890
5                             Biomass — dedicated  130    230   420
6                                      Geothermal    0     38    79
7                                      Hydropower    0     24  2200
8                                         Nuclear    7     12   110
9                        Concentrated Solar Power    8     27    63
10                             Solar PV — rooftop   26     41    60
11                             Solar PV — utility   18     48   180
12                                   Wind onshore    0     11    56
13                                  Wind offshore    0     12    35
14                    Pre-commercial Technologies  NaN    NaN   NaN
15                           CCS — Coal — Oxyfuel  100    160   200
16                                CCS — Coal — PC  190    220   250
17                              CCS — Coal — IGCC  170    200   230
18                     CCS — Gas — Combined Cycle   94    170   340
19                                          Ocean    6     17    28

In [13]:
# Visualize DataFrame